Package: freewrite
Version: 1.0.0
Architecture: all
Maintainer: Sandarva Paudel, sandarvapoudel182@gmail.com
Installed-Size: 815
Depends: python3-pyqt5, python3:any
Section: editors
Priority: optional
Homepage: https://your-website.com/freewrite
Description: Distraction-free writing application
 Freewrite is a minimalist application designed to help writers
 focus on their content with a distraction-free environment.
 It provides a clean interface for writing without the clutter
 of complex formatting options.
